[Desktop Entry]
Version=0.6
Terminal=false
Type=Application
Name=Flutter Sidekick
StartupWMClass=sidekick
Comment=Sidekick is an app that provides a simple desktop interface to tools that enhance Flutter development experience to make it even more delightful.
Exec=Sidekick %F
Icon=snap/gui/Sidekick.png
Categories=Utility;
