[Desktop Entry]
Version=0.6
Terminal=false
Type=Application
Name=Flutter Sidekick
Comment=Sidekick is an app that provides a simple desktop interface to tools that enhance Flutter development experience to make it even more delightful.
Exec=sidekick %f
Icon=${SNAP}/meta/gui/Sidekick.png
Categories=Utility;
