name: Build (Linux, Mac OS, Windows)

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-linux:
    name: "Build Linux"
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v1.4.0

      - name: Install Linux build tools
        run: sudo apt-get update && sudo apt-get install clang cmake ninja-build pkg-config libgtk-3-dev

      - name: Enable desktop
        run: flutter config --enable-linux-desktop

      - name: Get packages
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Flutter build app
        run: flutter build linux


      - name: Compress artifacts
        uses: TheDoctor0/zip-release@0.4.1
        with:
          filename: linux-dev.zip

      - name: Build AppImage
        uses: AppImageCrafters/build-appimage@master
        with:
          recipe: "AppImageBuilder.yml"

      - name: Upload Build AppImage
        uses: actions/upload-artifact@v2.3.1
        with:
          name: sidekick-linux-dev.AppImage
          path: Sidekick-latest-x86_64.AppImage
      
      - name: Upload Build Zip
        uses: actions/upload-artifact@v2.3.1
        with:
          name: sidekick-linux-dev.zip
          path: linux-dev.zip
      
  build-macos:
    name: "Build MacOS"
    runs-on: macos-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v1.4.0

      - name: Set Up XCode
        uses: devbotsxyz/xcode-select@v1.1.0

      - name: Enable desktop
        run: flutter config --enable-macos-desktop

      - name: Get packages
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Flutter build app
        run: flutter build macos

      - name: Install create-dmg
        run: brew install create-dmg

      - name: Create dmg
        run: |
          ./scripts/create_mac_dmg.sh

      - name: Compress artifacts
        run: zip -r macos-dev.zip build/macos/Build/Products/Release

      - name: Upload Build DMG
        uses: actions/upload-artifact@v2.3.1
        with:
          name: sidekick-macos-dev.dmg
          path: build/macos/Build/Products/Release/Sidekick.dmg
      
      - name: Upload Build Zip
        uses: actions/upload-artifact@v2.3.1
        with:
          name: sidekick-macos-dev.zip
          path: macos-dev.zip


  build-windows:
    name: "Build Windows"
    runs-on: windows-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v1.4.0

      - name: Enable desktop
        run: flutter config --enable-windows-desktop

      - name: Get packages
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      - name: Write MSIX
        uses: DamianReeves/write-file-action@v1.0
        with:
          path: pubspec.yaml
          contents: |
            msix_config:
              display_name: Sidekick DEV Build
              publisher_display_name: Eduardo M.
              identity_name: 44484EduardoM.SidekickFlutter
              publisher: CN=1E781C91-227E-4505-B5B8-7E5EFE39D3A6
              msix_version: 1.0.0.0
              logo_path: assets\promo-windows\icon.png
              architecture: x64
              capabilities: "internetClient,removableStorage"
              certificate_path: windows\SIDEKICK-CERT.pfx
              certificate_password: ${{ secrets.WIN_CERT_PASS }}
              store: false
          write-mode: append

      - name: Write MS Store 
        uses: DamianReeves/write-file-action@v1.0
        with:
          path: lib/modifiers.dart
          contents: |
            // Generated file. Do not modify
            const isMSStore = false;
          write-mode: overwrite

      - name: Flutter build app
        run: flutter build windows

      - name: Create MSIX
        run: flutter pub run msix:create

      - name: Compress artifacts
        run: tar.exe -a -c -f windows-dev.zip build/windows/Runner/release

      - name: Upload Build MSIX
        uses: actions/upload-artifact@v2.3.1
        with:
          name: sidekick-windows-dev.msix
          path: build/windows/Runner/release/sidekick.msix
      
      - name: Upload Build Zip
        uses: actions/upload-artifact@v2.3.1
        with:
          name: sidekick-windows-dev.zip
          path: windows-dev.zip